
@import url(‘https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700;900&display=swap’);

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: ‘Exo 2’, sans-serif;
    color: rgb(250, 250, 250);
    background-image: 
        linear-gradient(hsl(0, 0%, 0%, .5), hsl(240, 50%, 5%)),
        url('beer.jpg');
    background-position: center;
    /* height: 100vh; */
    font: 30px;
    /* display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center; */
} 
form{
    padding: 1em;
    background-color: hsl(0, 0%, 100%, .3);
    border-radius: 15px;
    display: flex;

    justify-content: center;
    align-self: center;
    justify-self: center;
}

input[type=submit], select{
    padding: .44em;
    font-family: ‘Exo 2’, sans-serif;
    margin: .2em;
    border-radius: 10px;
}

.answerContainer > li {
    list-style-type: none;
}


h1 {
    background-color: rgba(61, 46, 46, 0.5);
    font-size: 60px;
    box-shadow: lightslategrey 20px 20px 50px;
    text-align: center;
    border-radius: 10px;
    
}

h2{
    background-color: rgba(61, 46, 46, 0.50);
    font-size: 40px;
    box-shadow: lightslategrey 20px 20px 50px;
    text-align: center;
    padding: .2em;
    border-radius: 10px;
}
h4{
    background-color: rgba(61, 46, 46, 0.658);
    font-size: 20px;
    box-shadow: lightslategrey 20px 20px 50px;
    text-align: center;
    border-radius: 10px;
    
}

h3{
    background-color: rgba(61, 46, 46, 0.658);
    font-size: 20px;
    box-shadow: lightslategrey 20px 20px 50px;
    text-align: center;
    border-radius: 10px;
}

ul{

} 

.card{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 9em;
    background-color: hsl(0, 0%, 100%, .7);
    padding: 1em;
    margin-right: 1em;
    position: relative;
    border-radius: 18px;
}

.card > li {
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 18px;

}

.category{
    height: 2.2em;
    display: inline-flex;
    padding: 0%;
    /* align-items: flex-end;
    justify-content: center; */
    text-align: center;
    color: red;
    list-style-type: none;
    box-shadow: 20px 20px 50px;

}

.correct{
    height: 2.2em;
    color: blue;
    display: inline-flex;
    padding: 0%;
    list-style-type: none;
    text-align: center;
    box-shadow: 20px 20px 50px;
   
}

.difficulty{
    color: green;
    list-style-type: none;
    text-align: center;
    display: inline-flex;
    padding: 0%;
    height: 2.2em;
    box-shadow: 20px 20px 50px;
   
}

div {
    


  } 